/* Mayer Reset */
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
} 
/* Mayer Reset */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 2px;;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: url(images/background.jpg);
}

header > em {
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    font-style:oblique;
  
}

#title {
    
    margin-top: 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-style:italic;
    background-color: whitesmoke;

}

nav {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-weight:bolder;
    display: inline-block;
}

a {
    margin-left: 20px;
    margin-right: 20px;
    color:rgb(207, 35, 92);
    text-decoration:none;
    font-family:cursive;

}

a:hover {
    color:black;
}


table,
th,
td {
    border: 1px solid pink;
    border-collapse: collapse;
    text-align: center;
    

}

table {
    width: auto;
    margin: 0 auto;
    background-color: whitesmoke;
}

caption {
    margin-bottom: 0px;
    padding: 10px;
    border-width: 2px;
   
    font-size: 20px;
    text-transform: uppercase;
    background-color:palevioletred;
}

td {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
}

th {
    position: sticky;
    top: 0;
    background-color: palevioletred;
    padding: 10px;
}

th:hover {
    background-color:pink;
}

tbody > tr:nth-child(odd) > td {
    background-color: rgb(221, 212, 212);
}

tbody tr:hover td {
    background-color:pink;
}

img {
    width: 20px;
    height: 20px;
}

p{color: blue;
font-size: 1.2rem;
}


